doctype html
html(lang="en")
  head
    meta(http-equiv="content-type", content="text/html; charset=UTF-8")
    meta(charset="utf-8")
    link(type="text/css", rel="stylesheet", href="/app.css")
    title simpleChat
    meta(name="generator", content="Bootply")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
  body
    #wrap
      .container
        nav.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
          .navbar-header
            a.navbar-brand(href="#") simpleChat
        #app

    footer.footer
      .container
        .row
          .col-md-4
            | Simple Chat Applikation using <a href="http://nodejs.org/">node.js</a>,
            | <a href="https://www.mongodb.org/">mongoDB</a>,
            | <a href="http://backbonejs.org/">Backbone.js</a>, <a href="http://bootstrapzero.com/bootstrap-template/holo">Holo Theme From Bootply</a>.
          .col-md-4
            | Available on <a href="https://github.com/PosMich/simpleChat">GitHub</a>.
          .col-md-4
            | Contributors:
            ul.list-unstyled
              li <a href="https://github.com/Gbeschbacher">Georg Eschbacher</a>
              li <a href="https://github.com/PosMich">Michael Poschacher</a>


    script(src='/app.js')

    script(type='text/template', name='login')
        div.container-fluid
            .row
              .col-sm-6.col-sm-offset-3
                .well
                  form.form
                    h4 Login / Signup
                    input#username.form-control.input-lg(type="text", title="username", placeholder="Enter your Username")
                    input#password.form-control.input-lg(type="password", title="password", placeholder="Enter your Password")
                    .input-group.text-center
                      span.input-group-btn
                        a#login.btn.btn-lg.btn-primary(type="button",href="#overview") Login
                      span.input-group-btn
                        a#signup.btn.btn-lg.btn-primary(type="button",href="#overview") Signup
            .row
              .col-sm-6.col-sm-offset-3
                .alert.alert-danger(role="alert") User allready exists or wrong password entered!

      script(type='text/template', name='home')
        div#rooms.container-fluid
          .row
              .col-sm-6.col-sm-offset-3
                .panel.panel-default
                  .panel-heading
                    a.pull-right(href='/') leave Chat
                    h4 Available Rooms
                  .panel-body
                    .list-group
                      <% if (chatrooms.length === 0) { %>
                      .text-center no room available
                      <% } else {_.each(chatrooms, function(room) { %>
                      .list-group-item <%= room.name %> <small>(<%=room.users.length%> active <% room.users.length > 1 ? "users" : "user"%>)</small>
                        <a id="join" class="btn btn-primary btn-xs pull-right" type="submit" href="#room/<%= room.name %>">Join</a>
                      <% }) } %>

                    form.form
                      .input-group
                        input#newRoom.form-control.input(type="text", title="new Room", placeholder="Enter a room name")
                        span.input-group-btn
                          button#addRoom.btn.btn-md.btn-primary(type="button") add
      script(type='text/template', name='chat')
        div#chat.container-fluid
          .row
            .col-md-4
              .panel.panel-default
                .panel-heading
                  h4 Users
                .panel-body
                  .list-group
                    <% _.each( rooms.models, function( room ) { if (room.name == name) { %>
                    <% _.each( room.users, function( user ) { %>
                    .list-group-item <%= user.name %>
                    <%  }); %>
                    <% }}); %>

              a#back.btn.btn-primary(href="#overview")
                span.glyphicon.glyphicon-arrow-left  Overview

            .col-md-8.container-chat
              .panel.panel-default
                .panel-heading
                  h4 Room: <%=name%>
                .panel-body
                  ul.chat
                    <% _.each( window.messages, function(msg){ %>
                    li.left.clearfix
                      .chat-body.clearfix
                        .header
                          strong.primary-font <%= msg.name %>
                          p <%= msg.message %>
                    <% }); %>

                .panel-footer
                  .input-group
                    input#msg.form-control.input-sm(type="text",placeholder="Type your message here...")
                    span.input-group-btn
                      button#send.btn.btn-primary.btn-sm Send

      script(type="text/template", name="message")
        li.left.clearfix
          .chat-body.clearfix
            .header
              strong.primary-font <%= name %>
              p <%= message %>